Repository algosup/2023-2024-project-4-sportshield-team-8, pull requests merged in 2024-03, with the labels that each got.

#26 Fixing the template and fixing Project Charter
  .github/ISSUE_TEMPLATE/documentIssue.yml
  documents/projectCharter.md
Labels: bug, enhancement, document, high

#31 Functional Specification document release
  .github/ISSUE_TEMPLATE/documentIssue.yml
  documents/functionalSpecifications/functionalSpecifications.md
  documents/management/weeklyReports/weeklyReport1.md
Labels: enhancement, document, critical

#47 Documents
  .github/ISSUE_TEMPLATE/documentIssue.yml
  documents/functionalSpecifications/functionalSpecifications.md
  documents/management/RACI.pdf
  documents/management/managementWalkthrough.md
  documents/management/riskManagementPlan.md
  documents/management/weeklyReports/weeklyReport1.md
  documents/management/weeklyReports/weeklyReport2.md
  documents/projectCharter.md
  documents/qualityAssurance/testPlan.md
  documents/technicalSpecifications/technicalSpecifications.md
Labels: documentation, document, critical, other
